@model IEnumerable<TiendaOnlineAPI.Models.Producto>

<h2>Listado de Productos</h2>



<div class="action-links">
    <a asp-action="Create" class="btn btn-primary">Agregar Producto</a>
</div>
<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Precio</td>
                <td>@item.Categoria?.Nombre</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.UrlImagen))
                    {
                        <img src="@item.UrlImagen" alt="@item.Nombre" width="100" />
                    }
                </td>
                <td><a asp-controller="ProductoMvc" asp-action="Edit" asp-route-id="@item.ProductoId" class="btn btn-warning">Editar</a></td>
            </tr>
        }
    </tbody>
</table>